 <div class="user-details">
  <h1> MySelf </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <p>Familiar with HTML, CSS, Bootstrap. Love with GUI design</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <p>Be creative while coding :D</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-github-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Tool/software/lowcode platform is just a platform for your imaginary.</p>
    </div>
</div>
