<div class="user-details">
  <h1> Featured Projects </h1is
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/2.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> CLIC Management Application </h3>
    <ul>
      <li> C# </li>
      <li> SQL </li>
    </ul>
     Designed and developed an application with .NET and SQL to track the entire process, from application to provision, 
      of Computers for Low Income Calgarians(CLIC) program.
    <a class="project-link" href="https://github.com/heinerom/CLIC-Management">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/1.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Travel Agency WebSite/Desktop App/Android Mobile App </h3>
    <ul>
      <li> PHP, Html, CSS, JS</li>
      <li> .Net, ASP</li>
      <li> JAVA, JSP, Android Studio</li>
      <li> SQL</li>
    </ul>
   Created a travel agency website with user login/registration/booking system. 
      The desktop application allows the agents to login, check and modify their packages, supplies, products and bookings.
      The mobile app is similar with the website, but more handy using on phone.
      This is a 6 months team project. I mainly contributed GUI Design, coding, and pulling data from database, wrapping up everything.
    
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
